@font-face{
    font-family: Game-of-Thrones;
    src:url(../images/Game\ of\ Thrones.ttf)
}
body{
    background-image: url(http://hdqwalls.com/download/throne-game-of-thrones-qhd-1920x1080.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    min-height: 100vh;
   
}

.jumbotron {
    background-color: #e9ecefa1;
}

.option{
  margin: 15px;
}
.title {
color: #487bbd;
font-size: 4vh;
font-family: Game-of-Thrones;
margin-top: 1rem;
}
@keyframes blink {
    50% {
      background: #3e79b09c;
      background-size: 75px 150px;
    }
  }
  @-webkit-keyframes blink {
    50% {
      background: #3e79b09c;
      background-size: 75px 150px;
    }
  }
  @-moz-keyframes blink {
    50% {
      background: #3e79b09c;
      background-size: 75px 150px;
    }
  }
  
  .laser {
    animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;
  }